<!DOCTYPE html>
<html lan="en">

<head>
    <title>pdbstore | {{report.store.rootdir}}</title>
    <meta http-Equiv="Cache-Control" Content="no-cache" />
    <meta http-Equiv="Pragma" Content="no-cache" />
    <meta http-Equiv="Expires" Content="0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
</head>

<body style="font-size: 0.9rem">
    <div class="container-fluid">
        <h1 style="font-size: 2rem;">{%- if report.store_name %}[{{report.store_name}}]&nbsp;&nbsp;{%- endif %}{{report.store.rootdir}}</h1>
        <div class="info">
            <p>
                You can sort and filter all columns.
            </p>
        </div>
        <table id="results" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>File name</th>
                    <th>File hash</th>
                    <th>Size (in Mb)</th>
                    <th>Product name</th>
                    <th>Product version</th>
                    <th title="Total number of referenced transactions">Count</th>
                </tr>
            </thead>
            <tbody>
                {%- for key, value in report.statistics | dictsort %}
                {%- for pkey, count in value.products_info | dictsort %}
                <tr>
                    <td>{{key[0]}}</td>
                    <td>{{key[1]}}</td>
                    <td>{{"%-10.3f"|format(value.file_size/1024/1024)}}</td>
                    <td>{{pkey[0]}}</td>
                    <td>{{pkey[1]}}</td>
                    <td>{{count}}</td>
                </tr>
                {%- endfor %}
                {%- endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>name</th>
                    <th>hash</th>
                    <th>size</th>
                    <th>product</th>
                    <th>version</th>
                    <th>count</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="info">
                <p>
                    Generated by pdbstore <b>v{{report.__version__}}</b>{{generation_time()}}, on {{report.now}}
                </p>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
</body>
<script>
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#results tfoot th').each(function () {
            var title = $(this).text();
            var title_id = title.replace('.', '_');
            $(this).html('<input type="text" id="filter-input-' + title_id + '" class="form-control filter-input" placeholder="Filter ' + title + '" style="width:100%"/>');
        });

        var table = $('#results').DataTable({
            "dom": "lrtip",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25
        });

        // Apply the search
        table.columns().every(function () {
            var that = this;

            $('input', this.footer()).on('keyup change clear', function () {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
</script>

</html>